* text=auto eol=lf
*.md text eol=lf working-tree-encoding=UTF-8
*.yml text eol=lf working-tree-encoding=UTF-8
*.yaml text eol=lf working-tree-encoding=UTF-8
*.json text eol=lf working-tree-encoding=UTF-8
*.go text eol=lf working-tree-encoding=UTF-8
*.ts text eol=lf working-tree-encoding=UTF-8
*.tsx text eol=lf working-tree-encoding=UTF-8
*.js text eol=lf working-tree-encoding=UTF-8
*.jsx text eol=lf working-tree-encoding=UTF-8
*.css text eol=lf working-tree-encoding=UTF-8
*.proto text eol=lf working-tree-encoding=UTF-8

